DB_ROOT_PASSWORD=MySuperSecret

# changing the following variables is optional
# this is used as name of the simplifier DB and as a prefix of the plugin DBs and the workflow container DBs
HOST_DATA_PATH=/var/lib/simplifier

# public ports
PUBLIC_PORT_HTTP=80
PUBLIC_PORT_HTTPS=443

DEBUG_CHROME_DEV_TOOLS_EXPOSED_PORT=2992
